extends ../_layout

block content
  form.form-signin(method='post')
    input(type="hidden", name="_csrf" value=csrfToken)
    h2.form-signin-heading Войти в аккаунт
    label.sr-only(for='email') Email
    input#email.form-control(type='email', name='email', placeholder='Email', autofocus='')
    label.sr-only(for='password') Пароль
    input#password.form-control(type='password', name='password', placeholder='Password')
    //- .checkbox
    //-   label
    //-     input(type='checkbox', value='remember-me')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Войти
    a.btn.btn-lg.btn-outline-secondary.btn-block(href='/auth/github') Войти через Github


