extends ../_layout

block content
  form.form-signin(method='post')
    h2.form-signin-heading Зарегистрировать аккаунт
    label.sr-only(for='email') Email
    input#email.form-control(type='email', name='email', placeholder='Email', autofocus='')
    label.sr-only(for='password') Пароль
    input#password.form-control(type='password', name='password', placeholder='Password')
    label.sr-only(for='confirmPassword') Подтвердите пароль
    input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Confirm Password')
    //- .checkbox
    //-   label
    //-     input(type='checkbox', value='remember-me') Запомнить меня
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Зарегистрироваться
