extends ../_layout

block content
  form.form-signin
    h2.form-signin-heading Зарегистрировать аккаунт
    label.sr-only(for='inputEmail') Email
    input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
    label.sr-only(for='inputPassword') Пароль
    input#inputPassword.form-control(type='password', placeholder='Password', required='')
    .checkbox
      label
        input(type='checkbox', value='remember-me')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Зарегистрироваться