nav.container.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.rounded
  a.navbar-brand(href='/') Shop
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample09', aria-controls='navbarsExample09', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExample09.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(class={active: id === 'products'})
        a.nav-link(href='/products') Товары
      //- li.nav-item
      //-   a.nav-link(href='#') Категории  
      li.nav-item(class={active: id === 'cart'})
        a.nav-link(href='/cart') Корзина
      unless user
        li.nav-item(class={active: id === 'login'})
          a.nav-link(href='/auth/login') Вход
        li.nav-item(class={active: id === 'register'})
          a.nav-link(href='/auth/register') Регистрация
      else
        li.nav-item(class={active: id === 'profile'})
          a.nav-link(href='/profile')= user.email
        li.nav-item
          a.nav-link(href='/auth/logout') Выйти

    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='text', placeholder='Поиск', aria-label='Search')
      button.btn.btn-primary.my-2.my-sm-0(type='submit') Поиск
