extends ../_layout

include ../_mixins/product-card

block main
  main#main
    .container
      if products.length
        .card-columns
          for product in products
            +product-card(product)
      else
        p Товары не найдены